<div><img {{action 'building_clicked' this}} {{bind-attr src=image}}/></div>
<div>{{name}} <button {{action 'new_building' this.type}}> + </button></div>
<div>${{earned}}</div>
{{progress-bar pct=percent}}