<h2>Castle {{unbound name}}</h2>
<img class="castle" src="{{unbound image}}"/>
<div>${{earned}}</div>
<div>${{perSecond}} / Sec</div>
<div>{{buildingCount}} Buildings</div>

<div class="buy-buttons">
  {{#if canBuyHut}}
    <button {{action 'new_building' 'Hut'}}> + Hut </button>
  {{/if}}
  {{#if canBuyBlacksmith}}
    <button {{action 'new_building' 'Blacksmith'}}> + Blacksmith </button>
  {{/if}}
  {{#if canBuyLookout}}
    <button {{action 'new_building' 'Lookout'}}> + Lookout </button>
  {{/if}}
</div>

<ul class="buildings">
  {{#each buildings}}
    <li class="building">{{render 'buildings.show' this}}</li>
  {{/each}}
</ul>

{{outlet}}